images\deeper.svg
images\deeper2.svg
images\exercise.svg
images\logo.jpg
images\recall.svg
images\silly_generator1.png
resources\code.png
resources\logo.jpg
Ex1_Python_Excellenteam_In_The_Academia\tests\test_5_1_no_vinnigerette.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_5_1_thats_the_way.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_5_2_cup_of_join.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_5_2_piece_of_cake.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_5_3_parsle_tongue.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_5_4_communicating_vessels.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_6_2_running_2000.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_6_3_long_cat_is_long.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_6_4_remember_remember.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_6_5_group_by.py
Ex1_Python_Excellenteam_In_The_Academia\tests\test_7_2_sent_turtle.py
Ex1_Python_Excellenteam_In_The_Academia\resources\code.png
Ex1_Python_Excellenteam_In_The_Academia\resources\logo.jpg
Ex1_Python_Excellenteam_In_The_Academia\src\code.png